 
    body {
        margin-top: 0 !important;
        background-color:#9a3e17;  
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .topnav a:hover {
        background-color: rgb(255, 255, 255);
        color: black;
      }


      .topnav a {
        color: white;
        float: center;
        text-align: center;
        padding: 10px 12px;
        font-family: helvetica;
        font-size: 17px;
      }
    
    .footer a {
    color: rgb(255, 255, 255);
    padding: 10px 12px;
;

}

    .footer {
        position: fixed;
        padding: 10px 12px;
        padding-left: 10px;
        padding-right: 10px;
        bottom: 0;
        width: 100%;
        background-color:#7a2d0b;  
        text-align: center;
    }


    .table2 {
        color:white;
       margin-left: auto;
    


       margin-right: auto;
       width:100%;
    }
    .product-image{

        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    } 

          table {
          
              text-align: center;
              margin-left: auto;
              margin-right: auto;
            

          }
    }